#article_header {
    text-align: center;
}

#content {
    display: block;
    text-align: center;
    padding: 10px;
}

#img {
    width: 40%;
    padding: 10px;
}

#imgSetup {
    width: 20%;
    padding: 10px;
}