#article_header {
    text-align: center;
}

#content {
    display: block;
    text-align: center;
    padding: 10px;
}

#imgBig {
    height: 430px;
    width: 540px;
    padding: 10px;

}

#imgSmall {
    width: 20%;
    padding: 10px;
}

#paragrath {
    margin-top: 10px;
    margin-bottom: 10px;
}