<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/Unity.css' %}">
    <title>Unity</title>
</head>
<body>
    <div id="header">
        <div id="header_img">
            <a href="devs"><img src="{% static 'img/logo.png' %}"></a>
        </div>
        <div id="header_link">
            <a href="unity" data-tooltip="Создание игры">Unity</a>
            <a href="arduino" data-tooltip="Создание электронных устройств">Arduino</a>
            <a href="cSharp" data-tooltip="Создание приложения">C#</a>
            <a href="htmlCssJs" data-tooltip="Создание сайта">HTML+CSS+JS</a>
            <a href="mySql" data-tooltip="Создание и подключение базы данных к сайту">MySql</a>
            <a href="php" data-tooltip="Создание защиты для сайта">PHP</a>
        </div>
    </div>
    
    <div id="border">
        <div class="hover-text-one">
                <a href="{% static 'img/pepe.png' %}" download="pepe">
                <figure class="effect-text-three">
                <img src="{% static 'img/articles/unity/Создание сценовой сетки (Tilemap).png' %}" alt=""/>
                    <figcaption>
                <h3>Создание сценовой сетки (Tilemap)</h3>
                <p>А я хер знает что тут писать. Тут типо должно быть короткое описание что это</p>
                    </figcaption>			
                </figure>
            </a>
        </div>
        <div class="hover-text-one">
                <a href="{% static 'img/articles/unity/Создание слоёв.jpg' %}" download="pepe">
                <figure class="effect-text-three">
                <img src="{% static 'img/articles/unity/Создание слоёв.jpg' %}" alt=""/>
                    <figcaption>
                <h3>Создание слоев</h3>
                <p>А я хер знает что тут писать. Тут типо должно быть короткое описание что это</p>
                    </figcaption>			
                </figure>
            </a>
        </div>

        <div class="hover-text-one">
            <a href="{% static 'img/articles/unity/Добавление необходимых компонентов.jpg' %}" download="pepe">
                <figure class="effect-text-three">
                    <img src="{% static 'img/articles/unity/Добавление необходимых компонентов.jpg' %}" alt=""/>
                    <figcaption>
                        <h3>Добавление необходимых компонентов</h3>
                        <p>А я хер знает что тут писать. Тут типо должно быть короткое описание что это</p>
                    </figcaption>			
                </figure>
            </a>
        </div>

        <div class="hover-text-one">
            <a href="{% static 'img/articles/unity/Подготовка спрайтов.png' %}" download="pepe">
                <figure class="effect-text-three">
                    <img src="{% static 'img/articles/unity/Подготовка спрайтов.png' %}" alt=""/>
                    <figcaption>
                        <h3>Подготовка спрайтов</h3>
                        <p>А я хер знает что тут писать. Тут типо должно быть короткое описание что это</p>
                    </figcaption>			
                </figure>
            </a>
        </div>

        <div class="hover-text-one">
            <a href="{% static 'img/articles/unity/Подготовка окна “Tile Palette”' %}" download="pepe">
                <figure class="effect-text-three">
                    <img src="{% static 'img/articles/unity/Подготовка окна “Tile Palette”.png' %}" alt=""/>
                    <figcaption>
                        <h3>Подготовка окна “Tile Palette”</h3>
                        <p>А я хер знает что тут писать. Тут типо должно быть короткое описание что это</p>
                    </figcaption>			
                </figure>
            </a>
        </div>

        <div class="hover-text-one">
            <a href="{% static 'img/articles/unity/Добавление необходимых компонентов.jpg' %}" download="pepe">
                <figure class="effect-text-three">
                    <img src="{% static 'img/articles/unity/Использование слоев.png' %}" alt=""/>
                    <figcaption>
                        <h3>Использование слоев</h3>
                        <p>А я хер знает что тут писать. Тут типо должно быть короткое описание что это</p>
                    </figcaption>			
                </figure>
            </a>
        </div>

        <div class="hover-text-one">
            <a href="{% static 'img/articles/unity/Подготовка окна “Tile Palette”' %}" download="pepe">
                <figure class="effect-text-three">
                    <img src="{% static 'img/articles/unity/Создание персонажа.png' %}" alt=""/>
                    <figcaption>
                        <h3>Создание персонажа</h3>
                        <p>А я хер знает что тут писать. Тут типо должно быть короткое описание что это</p>
                    </figcaption>			
                </figure>
            </a>
        </div>

        <div class="hover-text-one">
            <a href="{% static 'img/articles/unity/Подготовка окна “Tile Palette”' %}" download="pepe">
                <figure class="effect-text-three">
                    <img src="{% static 'img/articles/unity/Создание скрипта.jpg' %}" alt=""/>
                    <figcaption>
                        <h3>Создание скрипта</h3>
                        <p>А я хер знает что тут писать. Тут типо должно быть короткое описание что это</p>
                    </figcaption>			
                </figure>
            </a>
        </div>

        <div class="hover-text-one">
            <a href="{% static 'img/articles/unity/Подготовка окна “Tile Palette”' %}" download="pepe">
                <figure class="effect-text-three">
                    <img src="{% static 'img/articles/unity/Соединение компонентов со скриптом.jpg' %}" alt=""/>
                    <figcaption>
                        <h3>Соединение компонентов со скриптом</h3>
                        <p>А я хер знает что тут писать. Тут типо должно быть короткое описание что это</p>
                    </figcaption>			
                </figure>
            </a>
        </div>

        <div class="hover-text-one">
            <a href="{% static 'img/articles/unity/Подготовка окна “Tile Palette”' %}" download="pepe">
                <figure class="effect-text-three">
                    <img src="{% static 'img/articles/unity/Анимации.jpg' %}" alt=""/>
                    <figcaption>
                        <h3>Анимации</h3>
                        <p>А я хер знает что тут писать. Тут типо должно быть короткое описание что это</p>
                    </figcaption>			
                </figure>
            </a>
        </div>

        <div class="hover-text-one">
            <a href="{% static 'img/articles/unity/Подготовка окна “Tile Palette”' %}" download="pepe">
                <figure class="effect-text-three">
                    <img src="{% static 'img/articles/unity/Подбираемые предметы.jpg' %}" alt=""/>
                    <figcaption>
                        <h3>Подбираемые предметы</h3>
                        <p>А я хер знает что тут писать. Тут типо должно быть короткое описание что это</p>
                    </figcaption>			
                </figure>
            </a>
        </div>

        <div class="hover-text-one">
            <a href="{% static 'img/articles/unity/Подготовка окна “Tile Palette”' %}" download="pepe">
                <figure class="effect-text-three">
                    <img src="{% static 'img/articles/unity/Интерфейс.jpg' %}" alt=""/>
                    <figcaption>
                        <h3>Интерфейс</h3>
                        <p>А я хер знает что тут писать. Тут типо должно быть короткое описание что это</p>
                    </figcaption>			
                </figure>
            </a>
        </div>

        <div class="hover-text-one">
            <a href="{% static 'img/articles/unity/Подготовка окна “Tile Palette”' %}" download="pepe">
                <figure class="effect-text-three">
                    <img src="{% static 'img/articles/unity/Создание врага.jpg' %}" alt=""/>
                    <figcaption>
                        <h3>Создание врага</h3>
                        <p>А я хер знает что тут писать. Тут типо должно быть короткое описание что это</p>
                    </figcaption>			
                </figure>
            </a>
        </div>

        <div class="hover-text-one">
            <a href="{% static 'img/articles/unity/Подготовка окна “Tile Palette”' %}" download="pepe">
                <figure class="effect-text-three">
                    <img src="{% static 'img/articles/unity/Создание “искусственного интеллекта” для врага на основе ассета A Pathfinding.jpg' %}" alt=""/>
                    <figcaption>
                        <h3>Создание “искусственного интеллекта” для врага на основе ассета A* Pathfinding</h3>
                        <p>А я хер знает что тут писать. Тут типо должно быть короткое описание что это</p>
                    </figcaption>			
                </figure>
            </a>
        </div>

        <div class="hover-text-one">
            <a href="{% static 'img/articles/unity/Подготовка окна “Tile Palette”' %}" download="pepe">
                <figure class="effect-text-three">
                    <img src="{% static 'img/articles/unity/Создание “груши для битья”.jpg' %}" alt=""/>
                    <figcaption>
                        <h3>Создание “груши для битья”</h3>
                        <p>А я хер знает что тут писать. Тут типо должно быть короткое описание что это</p>
                    </figcaption>			
                </figure>
            </a>
        </div>

        <div class="hover-text-one">
            <a href="{% static 'img/articles/unity/Подготовка окна “Tile Palette”' %}" download="pepe">
                <figure class="effect-text-three">
                    <img src="{% static 'img/articles/unity/Создание показателя здоровья у врага.jpg' %}" alt=""/>
                    <figcaption>
                        <h3>Создание показателя здоровья у врага</h3>
                        <p>А я хер знает что тут писать. Тут типо должно быть короткое описание что это</p>
                    </figcaption>			
                </figure>
            </a>
        </div>
    </div>

    <div id="footer">
        <p>© Столичный Бизнес Колледж 1993–2023</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/index.js' %}"</script>
</body>
</html>