<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/Unity.css' %}">
    <title>C#</title>
</head>
<body>
    <div id="header">
        <div id="header_img">
            <a href="devs"><img src="{% static 'img/logo.png' %}"></a>
        </div>
        <div id="header_link">
            <a href="unity" data-tooltip="Создание игры">Unity</a>
            <a href="arduino" data-tooltip="Создание электронных устройств">Arduino</a>
            <a href="cSharp" data-tooltip="Создание приложения">C#</a>
            <a href="htmlCssJs" data-tooltip="Создание сайта">HTML+CSS+JS</a>
            <a href="mySql" data-tooltip="Создание и подключение базы данных к сайту">MySql</a>
            <a href="php" data-tooltip="Создание защиты для сайта">PHP</a>
        </div>
    </div>
    
    <div id="border">
        <div class="hover-text-one">
                <a href="{% static 'articlesFaces/pdf/csharp/ConnectToDBCSharp.pdf' %}" download="Подключение к базе данных MySQL в консольном приложении при помощи языка программирования C#">
                <figure class="effect-text-three">
                <img src="{% static 'articlesFaces/img/csharp/MySqlCSharp.png' %}" alt=""/>
                    <figcaption>
                <h3>Подключение к базе данных в консольном приложении при помощи C#.</h3>
                <p>Короткое описание.</p>
                    </figcaption>			
                </figure>
            </a>
        </div>
    </div>

    <div id="footer">
        <p>© Столичный Бизнес Колледж 1993–2023</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/index.js' %}"</script>
</body>
</html>