<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/Unity.css' %}">
    <title>MySQL</title>
</head>
<body>
    <div id="header">
        <div id="header_img">
            <a href="devs"><img src="{% static 'img/logo.png' %}"></a>
        </div>
        <div id="header_link">
            <a href="unity" data-tooltip="Создание игры">Unity</a>
            <a href="arduino" data-tooltip="Создание электронных устройств">Arduino</a>
            <a href="cSharp" data-tooltip="Создание приложения">C#</a>
            <a href="htmlCssJs" data-tooltip="Создание сайта">HTML+CSS+JS</a>
            <a href="mySql" data-tooltip="Создание и подключение базы данных к сайту">MySql</a>
            <a href="php" data-tooltip="Создание защиты для сайта">PHP</a>
        </div>
    </div>
    
    <div id="border">
        <div class="hover-text-one">
                <a href="mampSetup">
                <figure class="effect-text-three">
                <img src="{% static 'articlesFaces/img/mysql/mamp.webp' %}" alt=""/>
                    <figcaption>
                <h3>Скачивание и установка MAMP.</h3>
                <p>Гайд как скачать и установить MAMP на операционную систему Windows.</p>
                    </figcaption>			
                </figure>
            </a>
        </div>
        <div class="hover-text-one">
                <a href="{% static 'articlesFaces/pdf/mysql/Xampp.pdf' %}" download="xampp">
                <figure class="effect-text-three">
                <img src="{% static 'articlesFaces/img/mysql/xamppSite.jpeg' %}" alt=""/>
                    <figcaption>
                <h3>Скачивание и установка XAMPP.</h3>
                <p>Гайд как скачать и установить XAMPP на операционную систему Windows.</p>
                    </figcaption>			
                </figure>
            </a>
        </div>

        <div class="hover-text-one">
            <a href="{% static 'articlesFaces/pdf/mysql/CreatingDBPhpMyAdmin.pdf' %}" download="Создание базы данных и таблиц в программе управления СУБД MySQL PhpMyAdmin, описание полей">
                <figure class="effect-text-three">
                    <img src="{% static 'articlesFaces/img/mysql/PhpMyAdmin.png' %}" alt=""/>
                    <figcaption>
                        <h3>Создание базы данных и таблиц в программе управления СУБД MySQL PhpMyAdmin, описание полей.</h3>
                        <p>Короткое описание.</p>
                    </figcaption>			
                </figure>
            </a>
        </div>

        <div class="hover-text-one">
            <a href="{% static 'articlesFaces/pdf/mysql/UserAndPrivilegesPhpMyAdmin.pdf' %}" download="Создание пользователя в phpMyAdmin, настройка и предоставление прав">
                <figure class="effect-text-three">
                    <img src="{% static 'articlesFaces/img/mysql/PhpMyAdmin.png' %}" alt=""/>
                    <figcaption>
                        <h3>Создание пользователя в phpMyAdmin, настройка и предоставление прав.</h3>
                        <p>Короткое описание.</p>
                    </figcaption>			
                </figure>
            </a>
        </div>

        <div class="hover-text-one">
            <a href="{% static 'articlesFaces/pdf/mysql/ExampleOfQueryImplementationAndPreparedQuery.pdf' %}" download="Пример реализации запросов и подготовленный запрос">
                <figure class="effect-text-three">
                    <img src="{% static 'articlesFaces/img/mysql/MySQL.jpeg' %}" alt=""/>
                    <figcaption>
                        <h3>Пример реализации запросов и подготовленный запрос.</h3>
                        <p>Короткое описание.</p>
                    </figcaption>			
                </figure>
            </a>
        </div>
    </div>

    <div id="footer">
        <p>© Столичный Бизнес Колледж 1993–2023</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/index.js' %}"</script>
</body>
</html>